// FKBM - Topic

// Topics

.container.posts {
  grid-template-areas: "posts";
  grid-template-columns: auto;
  > .row {
    max-inline-size: calc(100vw - 32px);
    margin-inline: auto;
  }
  .topic-navigation {
    grid-area: posts;
    grid-row: 2;
    inline-size: auto;
  }
}

.post-stream {
  .topic-post {
    article {
      border: none;
      padding-block: var(--tds-space-s);
      padding-inline: 0;
      &#post_1 {
        padding-block-start: 0;
      }
      .topic-body {
        padding-block: var(--tds-space-l);
        padding-inline: var(--tds-space-l);
        @include bg-br;
      }
      .cooked .lightbox img {
        inline-size: 100%;
      }
    }
  }
  .small-action {
    max-inline-size: 100%;
    border-block-start: none;
    &.topic-post-visited {
      .topic-post-visited-line {
        margin-block: 1rem;
        margin-inline: auto;
        max-inline-size: 300px;
      }
    }
    .topic-avatar {
      margin-block: 0;
      margin-inline: 0;
      .d-icon {
        inline-size: 25px;
        block-size: 25px;
        text-align: left;
      }
    }
  }
}

.topic-avatar {
  inline-size: 45px;
  margin-block: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 10px;
  .avatar {
    inline-size: 45px;
    block-size: 45px;
  }
}

.posts-filtered-notice {
  max-inline-size: 100%;
  margin-block: 1.5em;
  margin-inline: 0;
  padding-inline-end: 11em;
  border-radius: var(--tds-radius-m) !important;
  .filtered-replies-show-all {
    inset-inline-end: 1em;
  }
  .filtered-user-row {
    display: flex;
    white-space: break-spaces;
    text-align: left;
  }
}

.post-notice {
  max-inline-size: 100%;
  border-radius: var(--tds-radius-m) !important;
  padding-block: 0.8em;
  padding-inline: 0.8em;
  margin-block-end: var(--tds-space-l);
  &.old {
    padding-block: 0.8em;
    padding-inline: 0.8em;
  }
}

.topic-status-info,
.topic-timer-info {
  max-inline-size: 100%;
}

// No answer popup

.topic-navigation-outlet.no-answer {
  .topic-navigation-popup {
    background: var(--tertiary-low);
    margin-block-end: var(--tds-space-l);
    .close {
      float: right;
    }
  }
}

// Suggested

.suggested-topics-wrapper {
  .topic-list-item {
    border-radius: var(--tds-radius-l) !important;
  }
  .topic-list-data {
    box-sizing: border-box;
    padding-block: var(--tds-space-l);
    padding-inline: var(--tds-space-l);
    max-inline-size: unset;
    display: block;
    inline-size: 100%;
  }
}

// Reactions

.fake-reaction {
  position: absolute;
  inset-inline-start: 10px !important;
}

// Solved

.post-controls {
  .accepted,
  .unaccepted {
    .d-button-label {
      display: none;
    }
  }
}

// Lightbox

.lightbox-wrapper .meta {
  border-end-end-radius: var(--d-default-border-radius);
}

// Onebox

aside.onebox {
  display: flex;
  flex-flow: column;
  padding-block: var(--tds-space-m);
  padding-inline: var(--tds-space-m);
}

.mobile-view {
  article.onebox-body {
    padding-block: var(--tds-space-m);
    padding-inline: var(--tds-space-m);
    margin-block-end: auto;
  }
}

// Signup CTA

.signup-cta {
  inline-size: 100%;
}
